analytics/wolt-analitik-dannykh/dataset-for-analyst-assignment-20201120.csv filter=lfs diff=lfs merge=lfs -text
analytics/delivery-analitik-dannykh/otsenka-kategorij.csv.zip filter=lfs diff=lfs merge=lfs -text
analytics/samokat-analitik-dannykh/orders.csv filter=lfs diff=lfs merge=lfs -text
analytics/samokat-analitik-dannykh/order-lines.txt filter=lfs diff=lfs merge=lfs -text
analytics/delimobil/test-senior-data.csv filter=lfs diff=lfs merge=lfs -text
analytics/vtb-analitik-dannykh/database.db filter=lfs diff=lfs merge=lfs -text
analytics/babbel-produktovyj-analitik/learning-sessions.csv filter=lfs diff=lfs merge=lfs -text
analytics/dodo-brands-data-analyst/da-sql-sample-sql-task.csv filter=lfs diff=lfs merge=lfs -text
analytics/dodo-brands-data-analyst/otsenka-kategorij-4.csv filter=lfs diff=lfs merge=lfs -text
analytics/bolt-fraud-analyst/1st-adyen-rides-success-and-fail.csv.zip filter=lfs diff=lfs merge=lfs -text
analytics/mediascope-analitik-dannykh/mediascope-data-analitik-testovoe-xn-80aalfgj8a.xlsx filter=lfs diff=lfs merge=lfs -text
