analytics/babbel-produktovyj-analitik/learning-sessions.csv filter=lfs diff=lfs merge=lfs -text
analytics/bank-renessans-kredit-analitik/bank-renessans-kredit-analitik.docx filter=lfs diff=lfs merge=lfs -text
analytics/bolt-fraud-analyst/1st-adyen-rides-success-and-fail.csv.zip filter=lfs diff=lfs merge=lfs -text
analytics/delimobil/test-senior-data.csv filter=lfs diff=lfs merge=lfs -text
analytics/delivery-analitik-dannykh/da-sql-sample.xlsx.zip filter=lfs diff=lfs merge=lfs -text
analytics/delivery-analitik-dannykh/otsenka-kategorij.csv.zip filter=lfs diff=lfs merge=lfs -text
analytics/dodo-brands-data-analyst/da-sql-sample-sql-task.csv filter=lfs diff=lfs merge=lfs -text
analytics/dodo-brands-data-analyst/otsenka-kategorij-4.csv filter=lfs diff=lfs merge=lfs -text
analytics/genius-sport-reporting-analyst/2020.xlsx filter=lfs diff=lfs merge=lfs -text
analytics/genius-sport-reporting-analyst/2021.xlsx filter=lfs diff=lfs merge=lfs -text
analytics/genius-sport-reporting-analyst/2022.xlsx filter=lfs diff=lfs merge=lfs -text
analytics/genius-sport-reporting-analyst/practical-test-new-2-part.pbix filter=lfs diff=lfs merge=lfs -text
analytics/kaspi-kz-produktovyj-analitik/weekend-offer-produktovyj-analitik.pdf filter=lfs diff=lfs merge=lfs -text
analytics/mars-analitik-dannykh/priglashenie-na-tsentr-otsenki.pdf filter=lfs diff=lfs merge=lfs -text
analytics/mars-analitik-dannykh/raw-data-example.xlsx filter=lfs diff=lfs merge=lfs -text
analytics/mediascope-analitik-dannykh/mediascope-data-analitik-testovoe-xn-80aalfgj8a.xlsx filter=lfs diff=lfs merge=lfs -text
analytics/mts-produktovyj-analitik/mts-sobesedovanie-02.docx filter=lfs diff=lfs merge=lfs -text
analytics/neizvestnye/1.docx filter=lfs diff=lfs merge=lfs -text
analytics/neizvestnye/analitik-dannykh.docx filter=lfs diff=lfs merge=lfs -text
analytics/neizvestnye/readme.docx filter=lfs diff=lfs merge=lfs -text
analytics/neizvestnye/sql-task-and-result.docx filter=lfs diff=lfs merge=lfs -text
analytics/neizvestnye/task-description.docx filter=lfs diff=lfs merge=lfs -text
analytics/neizvestnye/testovoe-08062021-1-chast.pdf filter=lfs diff=lfs merge=lfs -text
analytics/neizvestnye/testovoe-zadanie-edtech-2.pdf filter=lfs diff=lfs merge=lfs -text
analytics/neizvestnye/testovoe-zadanie-edtech.pdf filter=lfs diff=lfs merge=lfs -text
analytics/neizvestnye/testovoe-zadanie-sotsialnaya-set.docx filter=lfs diff=lfs merge=lfs -text
analytics/neizvestnye/testovoe.docx filter=lfs diff=lfs merge=lfs -text
analytics/neizvestnye/testovoemtp.docx filter=lfs diff=lfs merge=lfs -text
analytics/neizvestnye/uznaete-kakie-to-iz-testovykh.docx filter=lfs diff=lfs merge=lfs -text
analytics/ozon/testovoe-zadanie-analitiku-bx.docx filter=lfs diff=lfs merge=lfs -text
analytics/ozon/testovoe-zadanie-ozon.pdf filter=lfs diff=lfs merge=lfs -text
analytics/readme.docx filter=lfs diff=lfs merge=lfs -text
analytics/realweb-camp-analytics/realweb-summer-camp-data.csv filter=lfs diff=lfs merge=lfs -text
analytics/rekor-data-engineer/de-test.zip filter=lfs diff=lfs merge=lfs -text
analytics/rekor-data-engineer/incidents-sql-question-2.pdf filter=lfs diff=lfs merge=lfs -text
analytics/rosmen/testovoe-zadanie-excel.xlsx filter=lfs diff=lfs merge=lfs -text
analytics/rosmen/testovoe-zadanie-sql.xlsx filter=lfs diff=lfs merge=lfs -text
analytics/samokat-analitik-dannykh/order-lines.txt filter=lfs diff=lfs merge=lfs -text
analytics/samokat-analitik-dannykh/orders.csv filter=lfs diff=lfs merge=lfs -text
analytics/samokat-analitik-dannykh/products.csv filter=lfs diff=lfs merge=lfs -text
analytics/samokat-analitik-dannykh/warehouses.csv filter=lfs diff=lfs merge=lfs -text
analytics/samokat-analitik/testirovanie-samokat-analitik-xn-80ah2aa4b9a.xlsx filter=lfs diff=lfs merge=lfs -text
analytics/samsung-data-manager/data-manager-1.docx filter=lfs diff=lfs merge=lfs -text
analytics/sberbank-inzhener-dannykh/de-task-solution.docx filter=lfs diff=lfs merge=lfs -text
analytics/severstal/zadanie-1-2023-severstal.xlsx filter=lfs diff=lfs merge=lfs -text
analytics/sportmaster/1.-zadanie-sql-1.xlsx filter=lfs diff=lfs merge=lfs -text
analytics/sportmaster/test-sobesedovanie-1.xlsx filter=lfs diff=lfs merge=lfs -text
analytics/vtb-analitik-dannykh/database.db filter=lfs diff=lfs merge=lfs -text
analytics/wolt-analitik-dannykh/dataset-for-analyst-assignment-20201120.csv filter=lfs diff=lfs merge=lfs -text
